/*
Colors:
#25274D
#464866
#AAABB8
#2E9CCA
#29648A
*/

body {
    background-color: #25274D;
    height: 100%;
}


.logo {
    color: #29648A!important;
    font-size: 2em;
    font-family: 'Nunito', sans-serif;
}


.alert {
    border-radius: 0px;
    margin-bottom: 0;
    height: 40px;
    text-align: center;
}

.main-body {
    height: auto;
    background-color: #f8f9fa;
}


.divider {
    background-color: #29648A;
    height: 5px;
    width: 100%;
}

.bits-col {
    background-color: #29648A;
}

.column-title {
    font-size: 1.1em;
    margin-top:10px;
}

.wtf-col {
    padding-left: 8px;
    padding-right: 8px;
}

.wtf-card {
    max-width: 500px; 
    margin: 0 auto;
    margin-bottom: 0.5em;
}

.wtf-card-body {
    padding: 0 0 0 8px;
}

.wtf-display-name {
    margin-bottom: 0;
    font-size: 0.9em;
    padding-top:0.3em;
    padding-bottom:0.3em;
}


.white-column-title {
    color: white;
}

.wtf-bio {
    font-size: 0.8em;
}

.wtf-profile-pic {
    width:100%; 
    max-width: 200px; 
    border-radius: .25rem;
}

.bit-card {
    margin-bottom: 10px;
}

.bit-profile-pic {
    width:100%; 
    max-width: 100px; 
    border-radius: .25rem;
}

.bit-username {
    margin-top: 0.3em;
    font-size: 0.9em;
    margin-bottom: 8px;
}

.bit-pic {
    height: 100%;
    width: 100%;
    max-height: 205px;
    object-fit: cover;
    padding: 10px;
    border-radius: 1rem;
}

.bit-title {
    font-size: 1.1em;
    margin-bottom: 0;
}

.bit-text {
    font-size: 0.9em;
    line-height: 20px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.bit-date {
    font-size: 0.8em;
}

.bit-mentioned-user {
    display: inline;
    font-weight: bold;
    color: #2E9CCA;
}

.trending-tag {
    color: #29648A;
    font-size: 1.4em;
    margin-bottom: 0;
}

.trending-bit-count {
    margin-top: -3px;
    margin-bottom: 8px;
    font-size: 0.9em;
}

.bit-admin-badge {
    margin-bottom: 4px;
    max-width: 100px;
    margin-bottom: 8px;
}

.bit-hashtag {
    display: inline;
    font-weight: bold;
    color: #29648A;
}

.bit-pic-modal {
    max-width: 768px;
    min-width: 524px;
    max-height: auto;
}

.bit-actions {
    position: absolute;
    bottom: 10px;
}

.bit-replying {
    background-color: #EAEAEA;
}

.reply-actions {
    padding-top: 10px;
    float: right;
}